<form action="action_page.php" style="border:1px solid #ccc">
  <div class="container">
    <h4>Sign Up</h4><br>
    <label for="psw-repeat"><b>Full Name</b></label>
    <input type="password" placeholder="Full Name" name="psw-repeat" required>

    <label for="email"><b>Email Address: </b></label>
    <input type="text" placeholder="Enter Email" name="email" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>
  </div>
</form>